{% extends "easy_pdf/base.html" %}

{% load static %}


{% block content %}

    <div class="container">

        <table class="table">

            <thead class="thead-dark">
                <caption> <h6 class="center-align"> Lista de usuários </h6></caption>
            </thead>

            <tbody>

                {% if users is not None %}
                    <tr>
                        <th scope="col"> Nome </th>
                        <th scope="col"> Sobrenome </th>
                        <th scope="col"> Username </th>
                    </tr>

                    {% for user in users %}
                        <tr>
                            <td> {{ user.name }}</td>
                            <td> {{ user.last_name }}</td>
                            <td> {{ user.username }} </td>
                        </tr>
                    {% endfor %}

            </tbody>

        </table>
            {% else %}
                <h2> Não há dados a serem exibidos </h2>
            {% endif %}
    </div>

{% endblock %}
