{% extends 'easy_pdf/base.html' %}
{% load static %}

{% block content %}

    <form method="post">
        {% csrf_token %}
            <div class="form-group">
                <label for="form.username.id_for_label"> Usuário </label>
                {{ form.username }}
            </div>

            <div class="form-group">
                <label for="form.name.id_for_label"> Nome </label>
                {{ form.name }}
            </div>

            <div class="form-group">
                <label for="form.last_name.id_for_label"> Sobrenome </label>
                {{ form.last_name }}
            </div>
            <button class="btn btn-success" type="submit"> Enviar </button>
    </form>
    <script src="{% static 'js/form.js' %}"></script>
{% endblock %}
